header {
  color: blue;
  border: solid black 3px;
  font-size: 48pt;
  font-family: "Arial";
  text-align: left;
}

nav {
  text-align: left;
  padding: 20px;
}

a {
  margin-right: 20px;
}

img {
  display: inline;
  margin: auto;
}

article {
  width: 800px;
  margin: left;
  font-size: 16pt;
  text-align: left;
}

p {
  text-align: left;
}


footer {
  text-align: left;
}
